<p>edit works!</p>
<form class="p-4 bg-white" [formGroup]="noteForm">
  <h2 class="pb-2 mb-4 border-b">Edit note</h2>
  <div class="div flex gap-2 justify-between mr-4">
    <input
      class="bg-gray-100 p-2 w-2/3"
      type="text"
      name="title"
      id="title"
      placeholder="Add title"
      formControlName="title"
    />
    <select
      class="bg-gray-100 outline-none p-4"
      name="category"
      id="category"
      formControlName="category"
    >
      <option value="" disabled selected>select option</option>
      <option value="PERSONAL">Home</option>
      <option value="WORK">Work</option>
      <option value="BUSINESS">Business</option>
    </select>
  </div>
  <div class="mt-4 flex justify-between items-end">
    <textarea
      class="bg-gray-100 min-h-32 p-4 w-2/3"
      name="desc"
      id="desc"
      formControlName="desc"
      placeholder="Add description"
    ></textarea>
    <div class="button text-blue-600">
      <button>Cancel</button>
      <button type="button" class="mx-4">edit</button>
    </div>
  </div>
</form>
